.headerDiv {
  background-color: cadetblue;
  height: 70px;
}

.headerTitle {
  text-align: center;
  padding-top: 1%;
}

ul {
  padding-top: 5%;
}

li {
  list-style: none;
  height: 40px;
}

.menu {
  background-color: bisque;
  height: 750px;
}

a {
  text-decoration: none;
  font-size: larger;
}

.outletClass {
  margin-top: 2%;
}
